
@font-face { font-family: "TF2 Build"; src: url("images/TF2_Build.ttf") format("truetype"); }

body {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: "TF2 Build", "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

.weapon-stats {
    border: 4px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    max-width: 40rem;
}

button {
    font-size: inherit;
    background-color: #5a831b;
    padding: 1rem 2rem 1rem 2rem ;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 1rem 0 1rem 0;
}

.weapon-stats img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    background-color: #333;
    border-radius: 15px;
    margin: 1rem;
}

select {
    vertical-align: middle;
    font-family: "TF2 Build", sans-serif;
    font-size: inherit;
}

.subtitle-line {
    color: gray;
}

.stat-positive {
    color: green
}

.stat-negative {
    color: red
}

.footer {
    margin-top: 8rem;
    font-size: 1rem;
}

a {
    color: white;
}